<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GGWaterFlowLayout(瀑布流).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D576AE1B1CD9CCA200A0921E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D576AE341CD9CCA200A0921E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D576AE3F1CD9CCA200A0921E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
